<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Navigation template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    
<nav th:fragment="navigation-logged" class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">LeisBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/mainPage}">Oma sivu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/followPage}">Seurataan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/followersPage}">Seuraajat</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" th:href="@{/album}">Kuvat</a>
      </li>
      <form th:action="@{/mainPage/search}" th:method="POST" class="form-inline my-2 my-lg-0">
        <input name="name" class="form-control mr-sm-2" type="search" placeholder="Etsi käyttäjiä" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Etsi</button>
      </form>
    </ul>
      
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" th:href="@{/logout}">Kirjaudu ulos</a>
      </li>
    </ul>
  </div>  
</nav>
