<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Seurataan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            .fakeimg {
             height: 200px;
             background: #aaa;
            }
        </style>
    </head>
    
    <body>
       

<nav th:replace="fragments/navigation-logged :: nav">
    <p>navigation with links and searchbar</p>
</nav>

 
        
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-16">
      <h2>Seurataan</h2>
    </div>
  </div>
</div>

<div class="container">
    <div class="row" th:each="account : ${accounts}">
        <div class="col-2 d-flex align-items-center"> <span display="inline-block"  th:text="${account.nickname}">nickname</span></div>
        <div class="col-3">
          <form display="inline-block" th:action="@{/followPage/{id}(id=${account.id})}" th:method="POST">
              <button class="btn btn-outline-danger mb-1 mt-1" type="submit">Lopeta seuraaminen</button>
          </form>
        </div> 
    </div>
</div>   

<footer th:replace="fragments/footer :: footer">
    <p>footer</p>
</footer>


    </body>
</html>


