<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href = "mainPageStyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            .fakeimg {
             height: 200px;
             background: #aaa;
            }
            /* You can adjust the image size by increasing/decreasing the width, height */
            .custom-circle-image {
              width: 4.5vw; /* voi käyttää myös 5vw molemmissa */
              height: 4.5vw;
            }
            
            /* You can adjust the image size by increasing/decreasing the width, height */
            .custom-circle-image-comment {
              width: 3vw; /* voi käyttää myös 3vw molemmissa */
              height:3vw;
            }

            .custom-circle-image img {
              object-fit: cover;
            }
        </style>
    </head>
    
    <body>

    <nav th:replace="fragments/navigation-logged :: nav">
        <p>navigation with links and searchbar</p>
    </nav>  
        
                

 
        
<div class="container " style="margin-top:30px">
  <div class="row">
    <div class="col-sm-2 mt-0">
        <div class="" style="margin-bottom:0">
  <h3 id ="nickname" th:text="${nickname}">nickname</h3>
  <p></p> 
</div>
        <div th:if ="${!ownPageBoolean}">
            <span th:if="${!followBoolean}">
            <form th:with="user=${user}" display="inline-block" th:action="@{/user/{url}/follow(url=${user.urlAddress})}" th:method="POST">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Follow</button>
            </form>
            </span>
            <span th:unless="${!followBoolean}">
            <form th:with="user=${user}" display="inline-block" th:action="@{/user/{url}/unfollow(url=${user.urlAddress})}" th:method="POST">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Unfollow</button>
            </form>
          </span>
      </div>
        <div th:if="${profilePictureId != null}">
         
         <img class="rounded img-fluid" style="width:150px" th:src="@{/album/{id}/content(id=${profilePictureId})}"/>


      </div>
      <div th:unless="${profilePictureId != null}" class="fakeimg">Ei vielä profiilikuvaa</div>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <p></p>
          <a class="nav-link active" href="#">Kuva-albumi</a>
        </li> 
      </ul>
    </div>
    <div class="col-sm-10 mt-3">
        
      <!--- Käyttäjä voi lisätä kommentin seinälle --->
      <div th:if ="${ownPageBoolean}">
          <div class="" id="wallMessage">
          <form th:action="@{/wallMessage}" method="POST">
            <div class="form-group shadow-textarea">
              <textarea name="message" class="form-control z-depth-1" id="wallMessage" rows="3" placeholder="Mitä mietit?"></textarea>
              <div style="text-align:right;"><button id="sendWallMessage" style="margin-top: 0px;" class="btn btn-primary btn-sm shadow-none mt-2" type="submit">Lisää seinälle</button></div>
            </div>
          </form>
        </div>
      </div>
      <!---  --->
      
      <!--- Yksittäinen seinäpostaus  --->
      
      <div class="container mt-5 bg-light">
        <div class="d-flex justify-content-center row">
          <div class="col-md-8 ">
            <div th:each="wallMessage : ${wallMessages}" class="d-flex flex-column comment-section mt-3" id="myGroup">
              <div class="bg-white p-2 border-bottom px-4">
                <div class="d-flex flex-row user-info">
                    <div class="rounded-circle overflow-hidden custom-circle-image">
                      <img th:src="@{/album/{id}/content(id=${wallMessage.account.profilePictureId})}" style="width:150px">
                    </div>
                    <div th:with="loggedUserId=${loggedUserId},URI=${#httpServletRequest.requestURI}">
                <form  th:action="@{{URI}/like/{loggedUserId}/wallMessage/{id}(id=${wallMessage.id},loggedUserId=${loggedUserId}, URI=${URI})}" th:method="POST">    
                    <div class="d-flex flex-column-reverse flex-grow-0 align-items-center votings ml-1"><button class="btn" style="background-color:transparent" ><i class="fa fa-thumbs-o-up"></i></button><span th:text="${#lists.size(wallMessage.likes)}">15</span></div>
                </form>
                        </div>
                <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><span th:text="${wallMessage.account.nickname}">Nickname</span></span><span th:text="${wallMessage.messageDate}" class="date text-black-50">Shared publicly - Jan 2020</span><span th:text="${wallMessage.messageTime}" class="date text-black-50">13:45</span></div>
                </div>
                <div class="mt-2">
                    <p class="comment-text"><span th:text="${wallMessage.content}">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span></p>
                </div>
              </div>
              
              <div class="d-flex flex-row add-comment-section mt-4 mb-4" th:with="followList=${followList}, user=${wallMessage.account.id}">
                  <!--- Käyttäjä voi lisätä kommentin seinäviestiin
              <div class="rounded-circle overflow-hidden custom-circle-image-comment">
                <img th:src="@{/album/{id}/content(id=${loggedUserPicId})}" style="width:100px">
              </div>--->
                    <form th:if="${#lists.contains(followList, user)}" class ="input-group mb-4 ml-2" th:action="@{/messageComment/{id}(id=${wallMessage.id})}" method="POST">
                      <input name="comment" type="text" class="form-control mr-3" placeholder="Lisää kommentti">
                      <button class="btn btn-primary" type="submit">Kommentoi</button>
                    </form>
              </div>
               

                <!--- kommentit --->
                      <div th:each="comment : ${comments}">
                        <div th:if="${comment.entityId == wallMessage.id}" class="commented-section mt-3 ml-2">
                          <div class="d-flex flex-row align-items-center commented-user">
                            <div class="rounded-circle overflow-hidden custom-circle-image-comment mr-2">
                               <img th:src="@{/album/{id}/content(id=${loggedUserPicId})}" style=" width:100px"> 
                            </div>
                            <h5 class="mr-2"><span th:text="${comment.account.nickname}">Nickname</span></h5><span class="dot mb-1"></span><span th:text="${comment.messageDate}" class="mb-1 ml-2 text-black-50">pvm</span><span th:text="${comment.messageTime}" class=" mb-1 ml-2 date text-black-50">13:45</span>
                          </div>
                          <div class="comment-text-sm"><span th:text="${comment.content}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
                          <div class="reply-section">
                            <div th:with="loggedUserId=${loggedUserId},URI=${#httpServletRequest.requestURI}">
                              <form th:action="@{{URI}/like/{loggedUserId}/wallMessage/{id}(id=${comment.id},loggedUserId=${loggedUserId}, URI=${URI})}" th:method="POST">
                                <div class="d-flex flex-row align-items-center voting-icons"><button class="btn" style="background-color:transparent" ><i class="fa fa-thumbs-o-up"></i></button><span th:text="${#lists.size(comment.likes)}" class="ml-2">10</span><span class="dot ml-2"></span>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--- Seinäpostaus loppuu tähän --->
    </div>
      <div class="jumbotron text-center" style="margin-bottom:0">
  <p>Tämä seinä näyttää 25 uusinta viestiä</p>
</div>
  </div> 




    </body>
</html>


